In [9]:
import pandas as pd
data = pd.read_excel(C:/Users/yasmi/OneDrive/Desktop/visualization assignment/ai_job_market_insights.csv)

SyntaxError: invalid syntax (1259358380.py, line 2)

In [7]:
data.head()

NameError: name 'data' is not defined

In [11]:
import pandas as pd
data = pd.read_excel(C:/Users/yasmi/OneDrive/Desktop/visualization assignment/ai_job_market_insights.csv)

SyntaxError: invalid syntax (2551203407.py, line 2)

In [13]:
import pandas as pd


file_path = r"C:\Users\yasmi\OneDrive\Desktop\visualization assignment\ai_job_market_insights.csv"


data = pd.read_csv(file_path)


data.head()

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,111392.16520,Yes,Growth
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93792.56247,No,Decline
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,107170.26310,Yes,Growth
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,93027.95376,No,Growth
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,87752.92217,Yes,Decline

In [15]:
import plotly.express as px

In [20]:
cleaned_data= data.dropna()

In [22]:
cleaned_data.head()

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,111392.16520,Yes,Growth
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93792.56247,No,Decline
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,107170.26310,Yes,Growth
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,93027.95376,No,Growth
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,87752.92217,Yes,Decline